@import "common";

html,body{
  margin: 0;
  width: 100%;
  height: 100%;
}

.flex {
  overflow: hidden;
  display: flex;
}

.flex-item {
  flex: 1;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.no-border {
  border: none !important;
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../imgs/bg_login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: scroll;
  padding-bottom: 30px;
  font-family: Helvetica, sans-serif;
  text-align: center;


  .login-card {
    position: relative;
    top: -40px;
    width: 398px;
    height: 320px;
    margin: 0 auto;
  }

  .login-input {
    width: 100%;
  }

  .card-title {
    margin: 30px;
    color: #6D7077;
    font-size: 18px;
  }

  .input-suffix-text {
    display:inline-block;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
  }
}

.layout-header{
  height: 60px;
  border-bottom: 4px solid #6b5eae;
}
.company-logo{
  margin-top: 14px;
  font-size: 18px;
}

.table-header {
  background: #F9FBFD !important;
}

.el-table th, .el-table tr {
  background: none;
}

.pagination-container {
  text-align: center;
  margin: 10px;
}

.el-date-editor--daterange.el-input__inner{
  width: 280px !important;
}
